

{% extends "sb-admin/base.html" %}
{% block content %}
<script charset="utf-8">
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}
</script>
<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-8">
      <div class="page-header">
        <h1>{{object.imdb_id}}: {{object.movie_id}} <small id="year"></small></h1>
      </div>
      <div id="summary">

      </div>
      <table class="table">
        <tr>
          <td>Genre</td>
          <td id="Genre"></td>
        </tr>
        <tr>
          <td>Director</td>
          <td id="Director"></td>
        </tr>
        <tr>
          <td>Write</td>
          <td id="Writer"></td>
        </tr>
        <tr>
          <td>Actors</td>
          <td id="Actors"></td>
        </tr>
        <tr>
          <td>Language</td>
          <td id="Language"></td>
        </tr>
        <tr>
          <td>Country</td>
          <td id="Country"></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-4">
      <div class="row">
        {% if object.image_url %}
        <img src="{{MEDIA_URL}}{{object.imdb_id}}.jpg" height="314" width="214"></img>
        {% else %}
        <img src="{{MEDIA_URL}}movieplaceholder.jpg" height="314" width="214"></img>
        {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div id="Rated"></div>
        </div>
        <div class="col-lg-4">
          <div id="imdbRating">This</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <style>
      #similar_movies div{
        display: inline;
        margin: 0 1em 0 1em;
        width: 30%
      }
    </style>
    <div id="similar_movies">

    </div>

  </div>

</div>
<script>

$.ajax({
  type: "GET",
  dataType: "json",
  url: "http://www.omdbapi.com/?i=" + "{{object.imdb_id}}&plot=full&r=json",
  success: function(data){
    // return data.Poster;
    document.getElementById("year").innerHTML = "(" + data.Year + ")";
    document.getElementById("summary").innerHTML = "<b>"+ data.Plot + "</b>";
    document.getElementById("Rated").innerHTML = "<b>Rated: </b>"+ data.Rated;
    document.getElementById("imdbRating").innerHTML = "<b>Rating: </b>"+ data.imdbRating;
    document.getElementById("Genre").innerHTML = data.Genre;
    document.getElementById("Director").innerHTML = data.Director;
    document.getElementById("Writer").innerHTML = data.Writer;
    document.getElementById("Actors").innerHTML = data.Actors;
    document.getElementById("Language").innerHTML = data.Language;
    document.getElementById("Country").innerHTML = data.Country;
  },
  async:false,
  error: function() {
    console.log("Image not found.");
  }
});
var value = {
      // 'csrfmiddlewaretoken': getCookie('csrftoken'),
      // 'csrfmiddlewaretoken': getCookie('csrftoken'),
      'imdb_id': "{{object.imdb_id}}"
}

// var url = "/get_similar_movie/"
$.ajax({
  type: "POST",
  url: "/get_similar_movie/",
  data: JSON.stringify(value),
  success: function(data){
    var json = JSON.parse(data)
    for(var item in json){
      var imdb_id = json[item];


      $.ajax({
        type: "GET",
        dataType: "json",
        url: "http://www.omdbapi.com/?i=" + imdb_id[0] +"&plot=full&r=json",
        success: function(data){
          console.log(imdb_id[0] + ": " + imdb_id[1] + ": " + imdb_id[2])
          var poster = '<img src='+'{{MEDIA_URL}}' +imdb_id[0] +'.jpg'+'></img>'
          var a = '<a href="/movies/' + imdb_id[2]+ '">' + poster + "</a>"
          var DynamicDiv = $("<div>"+a+"</div>");
          $("#similar_movies").append(DynamicDiv);
        },
        async:false,
        error: function() {
          console.log("Image not found.");
        }
      });


    }
  },
  async:false,
  error: function (jqXHR, textStatus, errorThrown)
    {
      // alert(textStatus);
      console.log(textStatus);
    }
});
</script>
<!-- /#page-wrapper -->

{% endblock %}
