

{% extends "sb-admin/base.html" %}
{% block content %}

<div id="page-wrapper">

  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <form id="search_form" action="." method="get">


          <div class="input-group custom-search-form">
            <form method="get" action=".">
              {% for item in form %}
              <span>{{item}}</span>
              {% endfor %}
              <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="Search"></input>
              </span>
          </div>
        </form>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <!-- <form method="get" action=".">
            <table>
              {{form.id}}
              {% for item in form %}
                {{item.auto_id}}{{item}}<br/>
              {% endfor %}
              <input class="btn btn-default" type="submit" value="Search">
            </table>
          </form> -->

          {% if query %}

          {% for result in page.object_list %}
          <div class="row">
              <div class="col-md-3">
                {% if result.object.title %}
                  {% if result.object.image_url %}
                  <img src="{{MEDIA_URL}}{{result.object.imdb_id}}.jpg" height="314" width="214"></img>
                  {% else %}
                  <img src="{{MEDIA_URL}}movieplaceholder.jpg" height="314" width="214"></img>
                  {% endif %}
                </div>
                <div class="col-md-9">
                  <div class="page-header well">
                    <a href="/movies/{{result.object.id}}"><h1>{{result.object.title}}<small id="{{result.object.imdb_id}}_year"></small></h1></a>
                    <div id="{{result.object.imdb_id}}_Plot"></div><br/>
                    <div id="{{result.object.imdb_id}}_Awards"></div>
                  </div>
                </div>
                <script charset="utf-8">
                    var xhReq = new XMLHttpRequest();
                    xhReq.open("GET", "http://www.omdbapi.com/?i=" + "{{result.object.imdb_id}}&plot=short&r=json", false);
                    xhReq.send(null);
                    // var serverResponse = xhReq.responseText;
                    var data = JSON.parse(xhReq.responseText);
                    document.getElementById("{{result.object.imdb_id}}_year").innerHTML = "(" + data.Year + ")";
                    document.getElementById("{{result.object.imdb_id}}_Plot").innerHTML = data.Plot;
                    document.getElementById("{{result.object.imdb_id}}_Awards").innerHTML = "<b>Awards: </b>"+data.Awards;
                </script>
                {% endif %}
          </div>
          <!-- <p> -->
            <!-- <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a> -->
            <!-- <br/> movie id: <b>{{result.object.movie_id.movie_id}}</b>
            <br/>
            <br/> imdb id: <b>{{result.object.imdb_id}}</b> -->

          <!-- </p> -->
          {% empty %}
          <p>No results found.</p>
          {% endfor %}

          {% if page.has_previous or page.has_next %}
          <div>
            <nav>
              <ul class="pagination">
                <li>
                    {% if page.has_previous %}
                      <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>
                    {% endif %}
                </li>
                </li>
                    {% if page.has_next %}
                    <a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>
                    {% endif %}
                </li>
              </ul>
            </nav>
          </div>
          {% endif %}
          {% else %}
          {# Show some example queries to run, maybe query syntax, something else? #}
          {% endif %}
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
  </div>
  <!-- /.row -->
</div>
<!-- /#page-wrapper -->

{% endblock %}
